*.obj
*.lib
*.log
*.tlog
*.pdb
*.ildb
*.pgd
*.pch
*.manifest
*.suo
*.user
*.sdf
*.opensdf
[Oo]bj/
*.exe
!*.h
!*.c
!*.asm
!*.def
!*.rc
*.sbr
*.iobj
*.ipdb
.vs/
*.VC.db
*.opendb
*.ilk
[Bb]in/*
!smp_*
*Caches/
!bin2c.exe
!source2c.exe
!opencl_source2c.props
!opencl_source2c.targets
!opencl_source2c.xml
!cuda_bin2c.props
!cuda_bin2c.targets
!cuda_bin2c.xml
